@using Microsoft.AspNetCore.Identity
@using WebStudentsManagement.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-area="" asp-controller="Activities" asp-action="StudentActivities">Activities</a></li>
            <li><a asp-area="" asp-controller="Activities" asp-action="TeacherActivities">Activities</a></li>
        </ul>
        @await Html.PartialAsync("_LoginPartial")
    </div>
}
else
{
    <div>
    </div>
}