@model Activities
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Teacher Activities";
}
<h4>@ViewData["Title"]</h4>
<h2>All activities</h2>
<div>
    <h4>Manage all your activities</h4>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Type</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int iterator = 0; iterator < Model.IdActivities.Count; ++iterator)
                    {
                        <tr>
                            <td scope="row"><a href="Activity/@Model.IdActivities[iterator]">@Model.ActivitiesName[iterator]</a></td>
                            <th scope="row">@Model.ActivitiesType[iterator]</th>
                            <th scope="row">@Model.ActivitiesDescription[iterator]</th>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
